<div class="hide-mobile">
  <div>
    <nav>
      <ul>
        <li><a [routerLink]="['../']"  >Listar ambientes</a></li>
        <li><a href="">Crear ambientes</a></li>
        <li><a href="">Editar ambiente</a></li>
        <li>Filtrar por tipo ambiente
          <!-- (change)="onNavigate($event.target.value) -->
          <select name="" id="" (change)="onNavigate($event)">
            <option value="" default>Escoje una opcion</option>
            <option *ngFor="let tipo of tipoAmbientes"
                    value="ambientes/{{tipo.idTipoAmbiente}}"
                     >
              {{tipo.nombreTipoAmbiente}}
            </option>

          </select>
        </li>
      </ul>
    </nav>

  </div>
</div>
