<!-- Progreso de llenar el form -->
<c-progress class="mb-3">
  <c-progress-bar id="progressProgramSemester" [value]="progressMadeProgramSemester" variant="striped">
    {{progressMadeProgramSemester}}%
  </c-progress-bar>
  <c-progress-bar id="progressCreateForm" [value]="progressMadeForm" variant="striped" color="danger">
    {{progressMadeForm}}%
  </c-progress-bar>
</c-progress>

<c-card>
  <c-card-header>
    <strong>Seleccionar programa y semestre </strong>
  </c-card-header>
  <c-card-body>

<!-- Antes de crear schedule seleccionar el programa y semestre para mostrar las materias -->
  <app-schedule-before-create-form
    #beforeForm
    (progress)="getProgressMadeProgramSemester($event)"
    (programa)="getSelectedProgram($event)" (semestre)="getSelectedSemester($event)"
    >
  </app-schedule-before-create-form>

  <c-row class="mb-3" *ngIf="beforeForm.form.valid">
    <label cLabel class="col-sm-10 ">
      Programa seleccionado : <strong>{{program.name}}</strong>
      Semestre :<strong>{{semester}} </strong>
    </label>
    <div class="d-grid gap-2 ">
      <button cButton color="danger" variant="outline" size="sm" type="submit" (click)="changeShowForm()">
        Cambiar programa y semestre seleccionados
      </button>
    </div>
  </c-row>

</c-card-body>

</c-card>
<br>

<!-- Llamar al form para crear un schedule el avance de este afecta el progress bar, se emite-->
<!-- <c-card> -->
<c-card *ngIf="beforeForm.form.valid">
  <c-card-header>
    <strong>Crear Horario para un curso</strong>
  </c-card-header>
  <c-card-body>
  <c-row class="mb-3">
    <label cLabel class="col-sm-10 ">
      Los cursos del programa <strong>{{program.name}}</strong> del semestre <strong>{{semester}}</strong> son :
    </label>

  </c-row>
<!-- Form para crear horario para el curso-->
  <app-schedule-create-form
    (progress)="getProgressMadeForm($event)"
    [selectedProgram]="program"
    [selectedSemester]="semester"
    >
    <!-- (course)="getSelectedCourse($event)" -->
  </app-schedule-create-form>
<!-- Llamar al form para crear un schedule el avance de este afecta el progress bar, se emite-->

</c-card-body>
</c-card>
<br>
