<button (click)="goToBack()" >Volver</button>
<!-- <p>{{ambiente?.id}} </p>
<p>{{ambiente?.tipoAmbiente?.nombreTipoAmbiente}} </p>
<p>{{ambiente?.nombre}} </p>
<p>{{ambiente?.ubicacion}}</p>
<p>{{ambiente?.capacidad}} </p> -->
<div class="grid-container">

  <div>
    <h2>Ambiente</h2>
    <app-basic-form [ambiente]="ambiente" ></app-basic-form>
    <p>Capacidad : {{ambiente.capacidad}} </p>
  </div>

  <div>
    <h2>Recursos</h2>
    <app-recursos-ambiente [recursos]="recursos"></app-recursos-ambiente>
  </div>

  <div>
    <h2>Agregar Recurso a este ambiente</h2>
  </div>
</div>
<p>
  <br><br>
</p>

